@model Services.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.servicetype.Servicekind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicetype.Servicekind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Startdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enddate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="@Url.Action("MydashBoard", "Services")" class="btn btn-block btn-warning" style="font-size: 25px;"><i class="fas fa-plus"></i> MydashBoard</a>

</p>
